.anime-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

div.anime-info {
    max-width: 73%;
    max-width: 73%;
    
    border-radius: 4px;
    
    box-sizing: border-box;
    display: flex;
/*
    background-color: #222129;
    border: 1px solid #b6bae5;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.253);*/
    
    
    position: relative;
}

div.anime-info-cover {
    min-width: 19.75%; /* 142.85px */
    max-width: 19.75%;
    overflow: hidden;
    
}

div.anime-info-cover img {
    max-width: 100%;
    min-height: auto; 
    border-radius: 4px;
}

div.anime-info-content {
    max-width: 78.87%; /* 578.83px */
    min-width: 78.87%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;

    overflow: hidden;
    
    border-radius: 3px;
}

div.anime-info-background {
    
    overflow: hidden;
}

div.anime-info-background img {
    min-width: 100%;
    max-width: 100%;
    border-radius: 7px;

    margin-bottom: 10px; /* i place it on the img so, in case there is not header, anime's title has no margin-top. */
}


div.anime-info-cover-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.anime-info-cover-desc-userstatus {
    margin-top: 10px;
    font-size: 14px;
    padding: 5px 0px;
    min-width: 100%;
    
    text-align:center;

    border-radius: 5px;
    background-color: #17171d;
    border: 1px solid #17171d;
}

div.anime-info-cover-desc-userstatus:hover {
    min-width: 98%; /* so left and right's border don't break */
    border: 1px solid #b6bae5;
    cursor: pointer;
}

div.anime-info-cover-desc-favorite {
    margin-top: 10px;
    font-size: 14px;
    padding: 4.5px 0px;
    min-width: 100%;
    
    text-align:center;

    border-radius: 5px;
    background-color: #b6bae5; /* ffb4d6 */
    border: 1px solid #bc387300;
    color: #222129;
    font-weight: 600;
}

div.anime-info-cover-desc-favorite i {
    font-size: 13px;
    margin-right: 7px;
    text-shadow: none;
}

div.anime-info-cover-desc-favorite:hover {
    min-width: 98%; /* so left and right's border don't break */
    border: 1px solid #b6bae5;
    cursor: pointer;
}

div.anime-info-cover-desc-score {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
}

div.anime-info-cover-desc-info {
    text-align: left;
    width: 98%;
    font-size: 13px;
    margin: 7px 0px;
    padding: 5px 0px;
    border-radius: 5px;
    
    line-height: 1.5em;
}

div.anime-info-cover-desc-info li {margin-left: 5px;}

div.anime-score {
    font-size: 24px;
    font-weight: bold;
}

div.anime-info-desc-title {
    border-bottom: 1px solid #ccccff15;
}

div.anime-info-desc-title-season {
    float: right;
}

div.anime-info-desc-desc {
    margin: 10px 0px;
    font-size: 13px;

    border-bottom: 1px solid #ccccff15;
    padding-bottom: 5px;
}

div.characters-wrapper {
    margin-bottom: 15px;
}

div.characters-wrapper-content {
    display: flex;
    max-height: 65px;
    margin-left: -1px; /* because entries have a border of 1px */
    justify-content: space-between;
    margin-bottom: 4px; /* para que la scrollbar no quede pegada */
}

div.characters-wrapper-title {
    margin-bottom: 5px;
}

div.characters-wrapper-entry {
    background-color: #17171d;
    display: flex;
    min-width: 31.9%; /* 31.9% */
    max-width: 271.63px; /* 50% */
    min-height: 60px;
    max-height: 60px; /* 1500/25 */
    border-radius: 7px;
    overflow: hidden;
    border: 1px solid #222129;
    transition: .1s;

    margin-right: 10px;
}

div.characters-wrapper-entry:last-child {margin-right: 0px;}

div.characters-wrapper-entry:hover {
    border: 1px solid #b6bae5;
    cursor: pointer;
}


div.characters-wrapper-entry-photo img{
    max-height: 100%;
    max-width: 40px;
}

div.characters-wrapper-entry-desc {
    font-size: 12px;
    overflow: hidden;
    position: relative;
    color: whitesmoke;
    text-shadow: none;
    width: 100%;
}

div.characters-wrapper-entry-desc-name {
    margin: 5px;
    padding-right: 10px;
}

div.characters-wrapper-entry-desc-role {
    margin: 5px;
    position: absolute; /* should be a better way to do this. using absolute position on characters-wrapper-entry-desc-name makes characters-wrapper-entry not scalable. */
    bottom: 0;
}




div.anime-data {
    min-width: 25%;
    max-width: 25%;
    
    padding: 0px 0px;
    margin-left: 20px;
    border-radius: 4px;
/*
    background-color: #222129;
    border: 1px solid #b6bae5;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.253);*/
    
    
    display: flex;
    flex-direction: column;
}

div.anime-data-wrapper {
    margin: 0 auto;
    min-width: 100%;
    max-width: 100%;
    margin-top: 5px;
}

div.anime-data-wrapper:first-child {margin-top: 0px;}

div.anime-data-title {
    min-width: 100%;
    border-bottom: 1px solid #ccccff15;
    font-size: 12px;
}

div.anime-data-info {
    margin-top: 10px;
    font-size: 14px;
}

div.anime-data-info li:first-child {margin-top: none;}
div.anime-data-info li:last-child {margin-bottom: none;}
div.anime-data-info li {
    margin: 5px 0px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.anime-data-info ul li span {
    text-shadow: none;
}
.anime-data-info ul li strong {
    font-weight: 700;
    color: #e7e7e7;
    
}
/*
.anime-friends-activity {
    position: absolute;
    left: 50%;
    transform: translateX(30%);
    text-align: right;
    min-width: 5em;
}

.anime-friends-score {
    min-width: 1.5em;
    text-align: right;
    
}
*/

@media (max-width: 721px) {
    .anime-container {
        display: block;
    }

    .anime-info {
        min-width: 100%!important;
    }

    .anime-data {
        margin: 5px 0px 0px 0px!important;
        min-width: 100%!important;
        box-sizing: border-box;
    }
}



@media (max-width: 568px) {
    .anime-info-background {
        position: absolute;
        right:0;
        left:0;
        top:0;
        z-index: 0;
        display: none;
    }

    .anime-info-background img {
        border-bottom-left-radius: 0px!important;
        border-bottom-right-radius: 0px!important;
    }

    .anime-info {
        flex-direction: column;
    }

    .anime-info-cover {
        
        min-width: 100%!important;
        display: flex;
    }

    .anime-info-cover img {
        max-width: 35%!important;
        margin-left:0px
    }

    .anime-info-cover-desc {
        min-width: 65%;
        padding: 0px 0px 0px 10px;
        box-sizing: border-box;
       
    }

    .anime-info-content {
        min-width: 100%!important;
        max-width: 100%!important;
        margin-left: 0px!important;
        margin-top: 7px;
    }

    .characters-wrapper-entry {
        min-width: 50%!important;
    }

    div.characters-wrapper {
        overflow-x: auto;
    }
}
 
