div.title {
    height: auto;
    width: auto;
    padding: 3px 0px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccccff15;
}

section.seasonal-anime-wrapper {
    
    min-width: 70%;
    max-width: 70%;
    overflow: hidden;
    border-radius: 7px;

    
    /*border: 0px solid #b6bae5a1;
    background-color: #222129; 
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.253);*/
    padding: 10px;
    background-color: #222129;
    border: 1px solid #2b2935;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.253);
    /*border: 1px solid #b6bae5;*/
    box-sizing: border-box; /* so width: 100% doesn't cause problems with body-wrapper's padding on phone devices. */
}

.img-wrapper {
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    
}

div.seasonal-anime {
    width: 100px; /* 1000/8.5 = 117px */
    height: 150px; /* 1500/8.5 = 176px */
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    margin: 5px 7px;
    position: relative;
    text-align: center;
    cursor: pointer;
}

div.seasonal-anime:first-child {margin-left: 0;}

div.seasonal-anime img {
    border-radius: 4px;
    min-height: 100%;
    min-width: 100%;
    max-height: 100%;
    max-width: 100%;
}

div.body-anime-desc {
    min-width: 100%;
    position: absolute;
    bottom: 0;
    padding: 5px 0px;
    text-shadow: 1px 1px 1px black;
    background: #222129;
    /* border-bottom: 1px solid #b6bae5; */
    opacity: 0;
    font-size: 11px;
    transition: .05s linear;
}

div.seasonal-anime:hover div.body-anime-desc {
    opacity: 0.9;
}

section.right-side {
    min-width: 29%;
    max-width: 29%;
    min-height: 100%;

    border-radius: 8px;
    /*border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;*/

    margin-left: 10px;
    padding: 10px;
    background-color: #222129;
    border: 1px solid #2b2935;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.253);
    /*border: 0px solid #b6bae5a1;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.253);*/
    
    overflow: hidden;
    font-size: 14px;

    box-sizing: border-box;
}

section.right-side p {
    line-height: 1.6em;
    text-shadow: 1px 1px 1px black;
    color: #e7e7e7;
}

section.right-side p span {
    
    font-size: 13px;
    float: right;
    color: white;
}

div.activity {
    width: 100%;
    overflow: hidden;
    max-height: 250px;
    margin-top: 10px;
    text-shadow: 0px 1px 1px black;
}

div.activity-entry {
    padding: 0;
    word-wrap: break-word;
    overflow: hidden;
    margin: 5px 10px 5px 0px;
    border-radius: 2px;
    text-overflow: ellipsis;
}

div.activity-entry:first-child {
    margin-top: 0px;
}

div.activity-entry a {
    color: #b6bae5;
}

div.activity-entry a:hover {
    color: #b6bae5;
    text-decoration: underline;
}

div.changelog {
    margin-top: 10px;
    overflow: hidden;
}

div.changelog .title {
    margin-bottom: 10px;
}

div.changelog-entry {
    margin: 0px 5px;
    font-size: 13px;
    text-shadow: 1px 1px 1px black;
}

div.home-review-wrapper {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.review-wrapper {
    margin-right: 7px;
    margin-bottom: 0px!important; /* since there is no second row here, no need to have a bottom margin. */
}


@media (max-width: 813px) {
    .below-header {
        display: none!important;
    }
}

@media (max-width: 721px) {
    .right-side {
        min-width: 100%!important;
        min-width: 100%!important;
        margin-left: 0px!important;
    }

    .seasonal-anime-wrapper {
        min-width: 100%!important;
        min-width: 100%!important;
        margin-bottom: 10px;
    }
}

@media (max-width: 595px) {

    .review-wrapper {
        min-width: 49.2%!important; /* find a way for 50% to work*/
    }
}

@media (max-width: 510px) {
    .review-wrapper {
        min-width: 60%!important;
    }
}

@media (max-width: 430px) {
    .review-wrapper {
        min-width: 80%!important;
    }
}

@media (max-width: 375px) {
    .review-wrapper {
        min-width: 100%!important;
    }
}