.body-wrapper {
    justify-content: center;
    margin-top: 7px;
    
}

div.profile-wrapper {
    height: auto;
    text-align: center;
    min-width: 56.76%;
    max-width: 56.76%;
}

.profile-wrapper h2{
    background-color: #222129;
}

.body-wrapper svg{
    justify-content: center;
    fill: #fff;
    transition: .1s ease-in-out;
}

svg {
    filter: drop-shadow(0px 0px 1.2px #17171d);
}

section.profile-photo {
    overflow: hidden;

    width: 100%;
    min-height: 200px;
    max-height: 200px;

    background-color: blue;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    background: url('../img/profile-icon/header.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

section.profile-photo img {
    min-width: 80px;
    max-width: 170px;
}

div.github-profile {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
}

div.twitter-profile {
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translateY(-50%);
}

section.profile-photo img {
    border-radius: 50%;
    /* border: 1px solid rgba(255, 255, 255, 0.116); */
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.26);
    object-fit: cover; /* needed for the img to mantain it's aspect ratio while fitting on the div */
    transition: .1s ease-in-out;
}

div.random-profile {
    position: absolute;
    right: 25%;
    top: 50%;
    transform: translateY(-50%);
}

div.instagram-profile {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
}

section.profile-photo svg:hover {
    /* fill: ; */
    filter: drop-shadow(0px 0px 2px #eeeeee);
}

section.list-profile {
    min-width: 100%;
    max-width: auto;

    max-height: 30px;
    white-space: nowrap;
    overflow-x: auto;

    background: #b6bae5;
    color: #222129;
    text-shadow: none;
    font-weight: 700;
    font-size: 15px;

    text-shadow: 1px 0px 1px rgba(17, 17, 17, 0.247);
    text-align: center;
    border-top: 1px solid;
    border-image: #17171d; /* linear-gradient(90deg, rgb(0,0,0,0) 0%, #222129 50%, rgb(0,0,0,0) 100%) 1; */
}

section.list-profile ul{
    display: flex;
}

section.list-profile li {
    padding: 5px 28px; /* not sure how to equally divide background-color (on hover) without doing this shit? */
}

section.list-profile button {
    color: #222129;
    transition: background-color .2s;
}

section.list-profile button:hover {
    background-color: #ced2ff;
    cursor: pointer;
}

section.lists-wrapper {
    max-width: 100%;
    min-height: auto;
    padding: 10px 15px;
    padding-bottom: 0px;
    border: 1px solid #b6bae5;
    border-top: none;
    text-shadow: 0px 1px 1px black;
    text-align: left;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    
    background-color: #222129;/*#1e1d2283 26252e*/

 
}

section.about-list {
    
    display: block; /* make it flex-direction: column on the media queries */
    max-width: 100%;
}

section.anime-list {
    display: block;
}

/** - currently not on use -

.anime-ul {
    display: none;
}

ul.anime-ul li {
    height: 25px;
    line-height: 40px;
    margin: 0px -15px;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    transition: background .4s; /* to fade-in fastly and fade-out slowly 
}

ul.anime-ul li:first-child {
    margin-top: -10px;
}

ul.anime-ul li:last-child {
    margin-bottom: -10px;
}

ul.anime-ul li:hover {
    background: #17171dcb;
    transition: background .1s; /* to fade-in fastly and fade-out slowly 
}

*/

div.first-row {
    text-align: left;
    max-width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccccff15;
    position: relative;
}

div.username-profile {
    font-size: 16px;
}

span.username-profile-displayname {
    font-weight: bold;
}

span.username-profile-at {
    color:rgb(192, 192, 192);
    font-weight: normal;
}

span#follows-you {
    background-color: #302f3a;
    border-radius: 5px;
    padding: 0px 4px;
    font-size: 10px;
    margin-bottom: 5px;
    color: rgb(192, 192, 192);
    max-width: 80px;
    max-height: 16px;
    word-wrap:break-word
}

div.user-titles {
    display: flex;
    align-self: center;
    float: right;
}

div.user-titles *{
    background-color: #17171d;
    color: #b6bae5;
    border-radius: 10px;
    font-size: 11px;
    padding: 2px 7px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}

div.user-title-admin {
    color: #eccbac;
}

div.user-title-supporter {
    color: rgb(253, 114, 137);
}

div.user-title-dev {
    margin-left: 5px;
}

div.profile-social-numbers {
    display: flex;
    color: rgb(192, 192, 192);
    font-size: 14px;
}

div.profile-numberof-follows {padding: 2px 4px; border-radius: 5px; margin-left: -4px}
div.profile-numberof-followers {padding: 2px 4px; border-radius: 5px;}

div.profile-numberof-follows:hover {
    background-color: #302f3a;
    transition: .1s;
    cursor: pointer;
}

div.profile-numberof-followers:hover {
    background-color: #302f3a;
    transition: .1s;
    cursor: pointer;
}

span#follow_count {
    color: white;
    font-weight: bold;
}

span#follower_count {
    color: white;
    font-weight: bold;
    
}

div.description-profile {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

div.about-cells {
    display: flex;
    justify-content: center;
}

div.about-desc {
    min-width: 27%;
    max-height: 100%;
    padding: 5px;
    border-radius: 7px;
    overflow: hidden;
    text-shadow: none;
    text-align: left;
    background-color: #b6bae5;
    color: #17171d;
    border: 2px solid #797c96;
    margin: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.253);
}

div.about-desc strong{
    font-weight: 700;
}

div.about-desc span {
    color: rgb(29, 29, 37);
    font-size: 14px;
    font-weight: 600;
    text-shadow: none;
}

div.anime-resume { 
    font-size: 15px; 
    font-weight: 300; 
    line-height: 1.35em;
    margin: 5px;
    background-color: #b6bae5; 
}

div.anime-resume span:first-child {
    margin-top: 10px;
}

div.list-wrapper-title {
    font-weight: 700; 
    background-color: #17171d;
    color: rgb(233, 233, 233);
    text-align: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    margin-bottom: 10px;
    padding: 4px;
    text-shadow: none;
}

section.about-list {display: block;} /* js assets */
section.anime-list {display: none;}
section.manga-list {display: none;}
section.vn-list {display: none;}
section.reviews-list {display: none;}
section.favorites-list {display: none;}

/* lists stuff now. */

div.first-row-lists {
    width: 100%;
    display: flex;
    margin: 0px -15px;
    padding: 5px 15px;
    font-size: 15px;
    transition: .5s ease-out;
    font-weight: 700;
    padding-bottom: 10px;
}

.lists-title { min-width: 60%;}
.lists-score { min-width: 20%; text-align: center;}
.lists-progress { min-width: 20%; text-align: center;}

div.anime-name-profile-list {
    width: 100%;
    display: flex;
    margin: 0px -15px;
    padding: 5px 15px;
    font-size: 15px;
    transition: .5s ease-out;
    position: relative;
    align-items: center;
}

div.anime-name-profile-list:hover {
    background-color: #17171dcb;
    transition: .1s;
    cursor: pointer;
}

div.anime-name-profile-list:first-child {
    margin-top: -10px;
}

div.anime-name-profile-list:last-child {
    margin-bottom: -10px;
}

div.left-image-lists {
    position: absolute;
    min-width: 100px;
    min-height: 150px;
    max-width: 100px;
    max-height: 150px;
    border-radius: 10px;
    overflow: hidden;
    left: -115;
    bottom: -45; /* don't like this, but last child overflows otherwise */
    opacity: 0;
    visibility: hidden;
}

div.left-image-lists img {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    border-radius: 10px;
    
}

.anime-name-profile-list:hover .left-image-lists{
    opacity: 1;
    visibility: visible;
    
}

.titleoftheanime { min-width: 60%; }
.scoreoftheanime { min-width: 20%; text-align: center; display: flex; align-items: center; justify-content: center;}
.progressoftheanime {min-width: 20%; text-align: center; display: flex; align-items: center; justify-content: center;}

.progressoftheanime button {display: none;}
.progressoftheanime button:first-child {margin-left: 5px;}
.progressoftheanime button:hover{color: rgb(193, 193, 255);}
.progressoftheanime button:active {color: rgb(255, 255, 255);}
.progressoftheanime button:last-child {margin-left: 8px;}
.progressoftheanime:hover button {display: block;}

.under-animelist {
    font-size: 11px;
    font-weight: 300;
    text-shadow: none;
    color: #a4a2b1;
    margin: 10px 0px 5px 0px;
    text-align: center;
}

.favorites-wrapper {
    border-radius: 7px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    position: relative;
    width: 100%;
}

.favorites-entry-wrapper {
    /* not having a min-width is important for div not breaking when padding declared */
    display: flex;
    flex-wrap: wrap;
    padding-right: 0px;
    justify-content: left;
    width: 100%;
}

.favorites-entry-wrapper img {
    border-radius: 4px;
    min-height: 100%;
    min-width: 100%;
    max-height: 100%;
    max-width: 100%;
}

.favorites-title {
    width: 10%;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: none;
    margin-left: -10px; /* idk how to align a rotated item so w.e */
}
.favorites-title h4 {
    transform: rotate(-90deg);
}

div.review-wrapper {
    min-width: 48%;
}

.favorite-entry-desc {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    padding: 5px 0px;
    z-index: 1;
    background-color: #222129;
    /* border-bottom: 3px solid #b6bae5; */
    opacity: 0;
    font-size: 11px;
}

.favorites-img:hover .favorite-entry-desc {opacity: 0.9; transition: .1s}



section.animanga-resumes {
    display: flex;
}

section.animanga-resumes div.profile-anime-overview, div.profile-manga-overview {
    max-height: 700px;
    width: 50%;
    box-sizing: border-box;

    border: 1px solid #b6bae5;
    background-color: #222129;

    margin-top: 10px;
    padding: 15px;

    border-radius: 8px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.253);
}

div.profile-anime-overview {
    margin-right: 5px;
    display: flex;
}

div.profile-anime-overview div {
    width: 33.3%;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 15px;
}

div.profile-anime-overview span {
    font-weight: normal;
} 

div.profile-manga-overview {
    margin-left: 5px;
    display: flex;
}

div.profile-manga-overview div {
    width: 33.3%;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 15px
}

div.profile-manga-overview span {
    font-weight: normal;
} 


section.activity-feed {
    max-height: 700px;
    min-width: 39%;
    border: 1px solid #b6bae5;
    background-color: #222129;
    margin-left: 10px;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.253);

    overflow-y: auto;
}

div.title-rightside {
    height: 1.8em;
    border-bottom: 1px solid #ccccff15;
    margin-bottom: 10px;
}

div.activity-entry-wrapper {
    display: flex;
    max-width: 100%;
    border-radius: 4px;
    overflow: hidden;
    background-color: #222129;
    /*height: 100px;*/
    border: 1px solid #222129;
    padding: 5px 0px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 17px;
}

div.activity-wrapper:first-child { margin-bottom: none; }

div.activity-entry-cover {
    width: 40px;
}

div.activity-entry-cover img {
    max-height: 40px;
    border-radius: 50px;
}

div.activity-entry-content {
    display: block;
    width: 100%;
    margin-left: 10px;
}

div.activity-entry-content-first-row {
    display: flex;
    height: 1.3em;
    width: 100%;
}

div.activity-username {
    color:rgb(192, 192, 192);
    text-shadow: none;
}

span.activity-display-username { font-weight: bold; color: whitesmoke; }

div.activity-entry-settings {
    margin-left: auto;
    padding: 3px;
    border-radius: 3px;
    text-shadow: none;
    cursor: pointer
}

div.activity-entry-settings:hover {
    background-color: #302f3a;
    transition: .1s;
}

div.activity-entry-settings svg{
    max-height: 13px;
    fill: rgb(214, 214, 214);
}

div.activity-entry-content-desc {
    margin-top: 2px;
    text-shadow: none;
    margin-right: 20px;
    font-size: 14px;
}
div.activity-entry-content-desc a{
    color: #b6bae5;
}

div.activity-entry-content-desc a:hover { text-decoration: underline; }
p.activity-entry-content-desc-text-user-action { margin-bottom: 5px; }
p.activity-entry-content-desc-text-user-commentary { margin-bottom: 8px; }

.activity-entry-content-last-row {
    max-width: 150px;
    display:flex;
    justify-content: space-between;
}

.activity-entry-content-last-row svg {
    max-height: 14px;
    fill: rgb(187, 187, 187);
    padding: 5px;
    border-radius: 5px;
}

.activity-entry-content-last-row img {
    max-height: 14px;
    filter: brightness(0) invert(0.75);
    padding: 5px;
    border-radius: 5px;
}

.activity-entry-content-last-row svg:hover {
    background-color: #302f3a;
    transition: .1s;
    cursor: pointer;
}

.activity-entry-content-last-row img:hover {
    background-color: #302f3a;
    transition: .1s;
    cursor: pointer;
}

@media (max-width: 1060px) {
    .div.activity-feed {
        min-width: 20%!important;
        max-width: 20%!important;
    }
}

@media (max-width: 784px) {
    section.animanga-resumes {
        flex-direction: column;
    }
    section.animanga-resumes div.profile-anime-overview, div.profile-manga-overview {
        width: 100%!important;
    }

    div.profile-anime-overview {
        margin-right: 0px!important;
        display: flex;
    }
    div.profile-manga-overview {
        margin-left: 0px!important;
    }
}

@media (max-width: 720px) {
    div.profile-wrapper {
        min-width: 100%;
    }
    section.activity-feed {
        margin-left: 0px;
        margin-top: 10px;
    }
    div.username-profile-2 {
        display: flex;
        text-align: left;
    }
    div.user-titles {
        margin: 5px 0px;
        justify-content: left;
        display: none;
    }
    div.user-titles *:first-child {
        margin-left: 0px;
    }
    div.profile-social-numbers {
        display: flex;
        justify-content: left;
    }
    div.review-wrapper {
        min-width: 100%!important;
    }

    section.list-profile ul {
        justify-content: space-around!important;
    }





}

@media (max-width: 614px) {
    section.list-profile ul{
        justify-content:inherit!important;
    }
}

@media (max-width: 938px) {
    div.profile-anime-overview div {
        font-size: 12px!important;
    }
    div.profile-anime-overview span {font-size: 16px!important}
    div.profile-manga-overview div {
        font-size: 12px!important;
    }
    div.profile-manga-overview span {font-size: 16px!important}
} 