@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    background-color: #17171d; /* #222129 17171d 212028*/ 
    font-family: nunito;
    image-rendering: -webkit-optimize-contrast;
    scrollbar-color: whitesmoke transparent;
    scrollbar-width: thin;

    
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    text-shadow: none!important;
}

*::-webkit-scrollbar {
    height: 7px;
}

*::-webkit-scrollbar-thumb {
    background-color: whitesmoke;
    border-radius: 4px;
}

progress[value] {
    color: #b6bae5;
}

img {
    image-rendering: -webkit-optimize-contrast;
}

a {
    color: whitesmoke;
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

div.web-container {
    width: 100%;
    height: auto;
}

div.mid-wrapper {
    max-width: 1000; /* 1200px 62.5% */
    height: 100%;
    box-sizing: border-box;
    margin: auto;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 65px;
    line-height: 65px;
    color: whitesmoke;
    text-shadow: 1px 1px 1px black;
    background-color: #212028;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.247);
    position: relative;
    z-index: 1;
    /*
    border-bottom: 2px solid #2b2935; /* 2b2935 
    background-color: #222129;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.26);
    */
    /*border-image: #b6bae5;linear-gradient(90deg, #b6bae500 0%, #b6bae5 50%, #b6bae500 100%) 1;*/
    
}

.inner-header {
    max-width: 1000; /* 1199 */
    margin: 0 auto;
    display: flex;
    position: relative;
}

header h1 {
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

header h1 a:active {
    color: rgb(167, 167, 167);
}

nav.header-ul {
    display: inline-block; /* to define width relatively */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    min-width: 66.72%;
    max-height: 65px;
    overflow: hidden;
}

ul.header-list {
    display: flex;
    flex-wrap: wrap;
    font-weight: 700;
    justify-content: center;
}

ul.header-list li.first-li {
    padding-left: 30px;
}

ul.header-list li {
    padding: 0px 15px;
}

ul.header-list li.last-li {
    padding-right: 30px;
}

ul.header-list:hover li {
    transition: .1s;
    opacity: 0.5;
}

ul.header-list li:hover {
    transition: .1s linear;
    opacity: 1;
}

div.profile {
    display: flex;
}

div.profile a {
    margin: auto;
}

img.profile-icon-header {
    max-height: 24px;
    border-radius: 50px;
    margin: auto;
    margin-right: 10px;
}

ul.profile-list {
    margin-right: 1.2px;
    display: flex;
    position: absolute;
    right: 0;
    flex-wrap: wrap;
    font-size: 17px;
    font-weight: 700;
}

ul.profile-list li {
    padding-right: 0px;
    position: relative;
    cursor: default;

    z-index: 999;
    
}

.profile-icon-header:active {
    opacity: 0.7;
}

button span.profile-arrow {
    padding-left: 4px;
    font-size: 16px;
    color: whitesmoke;
    
}

button#butProfileDropdown:hover{
    opacity: 0.6;
    transition: .15s;
}

div.profile-dropdown {
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    
    text-align: center;
    text-shadow: 1px 1px 1px black;

    width: 144px;
    position: absolute;
    right: 0;
    margin-top: 55px;

    border-top: none!important;
    
    border-radius: 4px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: 0px 3px 5px -5px rgba(0, 0, 0, 0.253);
    border: 1px solid rgba(182, 186, 229, 0.671);
   
    background: #1e1d24;
    background: linear-gradient(to bottom, #212028 0%, #1c1c24 90%);
/*
    opacity: 0;
    visibility: hidden; /*this is needed, otherwise, the element will actually display, just without opacity */
    transition: .15s;
    display: none;
    z-index: 9999;
}

/*
ul.profile-list li:hover div.profile-dropdown {
    opacity: 1;
    visibility: visible;
}*/


div.profile-dropdown a{
    display: block;
    width: 100%;
    transition: .4s;
}

div.profile-dropdown a:first-child {
    margin-top: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

div.profile-dropdown a:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

div.profile-dropdown a i {
    padding-right: 10px;
    font-size: 12px;
}

div.profile-dropdown a:hover {
    background: #2f2e3a;
    transition: .05s ease-out;
}

div.below-header {
    height: 20px;
    background: #b6bae5;
    text-align: center;
    line-height: 19px;
    font-size: 14px;
    margin: auto;
    color: #17171d;
    font-weight: 600;
    overflow: hidden;
    text-shadow: 1px 0px 1px rgba(17, 17, 17, 0.247);
    display: block;
}

div.below-header a {
    font-weight: 600; 
    color: #222129; 
    transition: .1s linear;
}

div.body-wrapper {
    max-width: 1000px;
    box-sizing: border-box;

    color: whitesmoke;
    
    word-wrap: break-word; /* not using this causes word overflowing */
    display: flex;
    justify-content: center;

    background-color: #212028;
    padding: 12px 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 3px rgba(0,0,0,.25)
}

footer {
    max-width: 100%;
    margin-top: auto;
    padding: 10px 0px;
    /*background-color: #212028;
    box-shadow: 0px 0px 3px rgba(0,0,0,.25)*/
}

div.inner-footer {
    font-size: 11px;
    text-align: center;
    color: whitesmoke;
    font-weight: 300;
    text-shadow: none;
}

nav.footer-ul {
    margin: 0 auto;
    display: inline-block;
    margin-bottom: 2px;
    
}

nav.footer-ul ul {
    display: flex;
    flex-wrap: wrap;
}

nav.footer-ul li { padding-left: 20px; font-weight: 600;}
nav.footer-ul li:first-child { padding-left: 0; }
nav.footer-ul li a:hover { color: #b6bae5; transition: .2s;}
div.copyright-footer { color: #a4a2b1;}

/* pasted from profile cause needed on home, a general namechange for the tags is needed */

.favorites-img {
    min-width: 70px;
    max-width: 70px; /* 1000/8.5 = 117px */
    border-radius: 7px;
    /* overflow: hidden; */
    text-align: center;
    margin-right: 10px; /* max margin for the sixth element to not move down when zooming out */
    margin-bottom: 10px;
    transition: .5s;
    position: relative;
    background-color: #222129;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}

.favorites-img img { /* needed because other measures were asigned to img's before */
    min-width: 100%!important;
    max-width: 100%!important;
    min-height: 100%;
    max-height: 100%;
}

.reviews-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    
}

.review-wrapper {
    display: flex;
    min-width: 40%;
    max-width: 40%;
    max-height: 103.44px;
    margin-bottom: 10px;
    background-color: #17171d;
    box-shadow: 0px 0px 3px rgba(26, 26, 26, 0.26);
    border-radius: 7px;
    overflow: hidden;
    border: .1px solid #2b2b4700;
    transition: .2s;
    box-sizing: border-box;
}

.review-name {
    font-weight: 600;
}

.review-wrapper:hover {
    border: 1px solid #b6bae5;
    cursor: pointer;
}

.review-wrapper .favorites-img {
    margin-bottom: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    margin-right: 0px;
}

.reviews-title {
    padding: 10px;
    font-size: 13px;
}

.reviews-title span.review-user a{color: #b6bae5;}
.reviews-title span.review-user a:hover{text-decoration: underline;}

.review-viewmore{
    color: #ffffffa6;
    
    font-weight: 300;
    font-size: 12px;
    display: none;
    transition: .2s linear;
}

.review-viewmore a {color: #ffffff8a; transition: .2s; text-shadow: none;}
.review-viewmore a:hover {color: white;}
.review-wrapper:hover .review-viewmore {display: block;}

/* ............... */

@media (max-width: 1060px) {
    .body-wrapper{
        padding: 12px 0px 10px!important;
    }
    .web-container {
        padding: 0px 10px;
        box-sizing: border-box;
    }
    footer {
        margin: 0px 10px;
    }
}

@media (max-width: 721px) {

    .web-container {
        padding: 0px!important;
    }

    .body-wrapper {
        display: block!important;
        padding: 10px 10px!important;
    }

    .inner-header {
        margin: 0px 10px!important;
    }

    .header-ul {
        display: none!important;
    }
}