@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

a {color: black;}

body {
    font-family: 'Fredoka', sans-serif;
    overflow-y: scroll;
}

div.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header {
    line-height: 40px;
    margin-top: 5px;
}

div.inner-header {
    width: 900px;
    max-height: 40px;
    display: flex;
    position: relative;
    justify-content: center;
}

span.header-logo {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Segoe UI';
    cursor: pointer;
    position: absolute;
    left: 0;
    font-family: 'Berkshire Swash', cursive;
}

div.header-list ul {display: flex;}
div.header-list ul:hover li{opacity: 0.5;}
div.header-list ul li {padding: 0px 20px; transition: .1s;}
div.header-list ul li:hover {opacity: 1; cursor: pointer; transition: .1s;}

div.header-account {min-height: 100%; display: flex; align-items: center;}
div.header-account img {
    max-height: 30px;
    border-radius: 100%;
    position: absolute;
    right: 0;
    transition: .05s;
    cursor: pointer;
    border: 1px solid white;
}
div.header-account svg {margin-top: 3px; position: absolute; right: 5%;}
div.header-account svg:hover {
    filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.25));
    cursor: pointer;
}
div.header-account img:hover {
    border: 1px solid black;
}

header div.inner-header div.header-account:hover div.header-list ul li {
    opacity: 0.5;
}

.header-dropdown {
    background-color: whitesmoke;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.20);
    border-radius: 6px;
    position: absolute;
    right: -2%;
    top: 0;
    margin-top: 50px;
    display: none;
    padding: 8px 0px;
    z-index: 9999;
}

.header-dropdown li {display: flex; align-items: center; padding: 0px 100px 0px 20px; transition: .05s; cursor: pointer}
.header-dropdown li:hover {background-color: rgb(230, 230, 230);}
.header-dropdown li span {margin-right: 10px; color: black; font-size: 23px;}

footer {
    background-color: rgb(235, 235, 235);
    width: 100%;
    padding: 5px 0px;
    margin-top: 20px;
}

div.inner-footer {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.inner-footer ul {display: flex;}
div.inner-footer ul li {padding: 5px 10px; transition: .1s; font-weight: bold;}
div.inner-footer ul li:hover {color: rgb(63, 63, 63); cursor: pointer; transition: .1s;}
div.copyright-footer {margin-bottom: 3px;}